################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.exp
*.iobj
*.ipdb
*.pdb
*.dll
*.aps
*.zip
/.vs
/out
/temp
/.codex
/dist
/Loader/Debug
/tmp_extract
/tmp_extract_all
/tmp_live_backup_*/
/dump_*.js
